@import url('https://fonts.googleapis.com/css2?family=Numans&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #FD853A;
  --color-secondary: #171717;

  --font-sans: "Numans", sans-serif;
  --font-urban: "Urbanist", sans-serif;
}

@layer base {
  body {
    @apply font-sans;
  }
}
.section-container{
  @apply max-w-screen-2xl container mx-auto py-6 px-4;
}


